<%- include('../modules/header', {'title': 'Consider Me Spiritual | Home'}); %>
<header>
  <span class="page-title">CMS Admin</span>
  <nav>
    <form action="/logout" method="post">
      <button type="submit" name="logout">Sign out</button>
    </form>
  </nav>
</header>
<main>
  <div class="main-wrapper">
    <% if (quotes) { for(var id in quotes) { %>
    <form id="<%= id %>" class="quote-box">
        <div class="quote">
          <input
            type="text"
            name="quote-text"
            autocomplete="off"
            value="<%= quotes[id]['quote'] %>"
          >
        </div>
        <div class="author">
          <input
            type="text"
            name="quote-author"
            autocomplete="off"
            value="<%= quotes[id]['author'] %>"
          >
        </div>
        <div class="scripture">
          <input
            type="checkbox"
            name="quote-is-scripture"
            value="<%= quotes[id]['scripture'] %>"
          >
          <label for="quote-is-scripture">Scripture?</label>
        </div>
        <input type="hidden" name="quote-id" value="<%= id %>">
        <div class="buttons-wrapper">
          <button onclick="asyncApprove(event)" class="icon-button confirm">check_circle</button>
          <button onclick="asyncDelete(event)" class="icon-button danger">delete</button>
        </div>
    </form>
    <% }} %>
  </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  function asyncDelete(event) {
    event.preventDefault();
    var form = event.srcElement.parentElement.parentNode;
    $.ajax({
      url: '/deleteSubmission',
      type: 'POST',
      data: $(form).serialize(),
      success: function(result) {
        if (result.success) {
          var originalForm = form.cloneNode(true);
          form.classList.add('deleted');
          var msgDiv = document.createElement("div");
          var msg = document.createTextNode("Successfully deleted this quote. ");
          var btn = document.createElement("a");
          btn.appendChild(document.createTextNode("Undo"));
          btn.addEventListener("click", function() {
            undoRemove(originalForm);
          });
          msgDiv.appendChild(msg);
          msgDiv.appendChild(btn);
          form.innerHTML = "";
          form.appendChild(msgDiv);
          // TODO animate
        }
      }
    });
  }

  function undoRemove(form) {
    var formData = $(form).serialize();
    $.ajax({
      url: '/undoDelete',
      type: 'POST',
      data: formData,
      success: function(result) {
        if (result.success) {
          var el = document.getElementById(form.id);
          el.innerHTML = form.innerHTML;
          el.classList.remove('deleted');
        }
      }
    });
  }

  function undoApprove(form) {
    var formData = $(form).serialize();
    $.ajax({
      url: '/undoApprove',
      type: 'POST',
      data: formData,
      success: function(result) {
        if (result.success) {
          var el = document.getElementById(form.id);
          el.innerHTML = form.innerHTML;
          el.classList.remove('approved');
        }
      }
    });
  }

  function asyncApprove(event) {
    event.preventDefault();
    var form = event.srcElement.parentElement.parentNode;
    $.ajax({
      url: '/approveSubmission',
      type: 'POST',
      data: $(form).serialize(),
      success: function(result) {
        if (result.success) {
          var originalForm = form.cloneNode(true);
          form.classList.add('approved');
          var msgDiv = document.createElement("div");
          var msg = document.createTextNode("Successfully added this quote. ");
          var btn = document.createElement("a");
          btn.appendChild(document.createTextNode("Undo"));
          btn.addEventListener("click", function() {
            undoApprove(originalForm);
          });
          msgDiv.appendChild(msg);
          msgDiv.appendChild(btn);
          form.innerHTML = "";
          form.appendChild(msgDiv);
          // TODO animate
        }
      }
    });
  }
</script>
<%- include('../modules/footer', {}); %>
