<%- include('../modules/header', {'title': 'Consider Me Spiritual | Home'}); %>
<header>
  <span class="page-title">CMS Admin</span>
  <nav>
    <form action="/logout" method="post">
      <button type="submit" name="logout">Sign out</button>
    </form>
  </nav>
</header>
<main>
  <div class="main-wrapper">
    <% if (quotes) { for(var id in quotes) { %>
    <form class="quote-box" action="#" method="">
        <div class="quote">
          <input
            type="text"
            name="quote-text"
            autocomplete="off"
            value="<%= quotes[id]['quote'] %>"
          >
        </div>
        <div class="author">
          <input
            type="text"
            name="quote-author"
            autocomplete="off"
            value="<%= quotes[id]['author'] %>"
          >
        </div>
        <div class="scripture">
          <input
            type="checkbox"
            name="quote-is-scripture"
            value="<%= quotes[id]['scripture'] %>"
          >
          <label for="quote-is-scripture">Scripture?</label>
        </div>
        <div class="buttons-wrapper">
          <button type="submit" name="approve-quote" class="icon-button confirm">check_circle</button>
          <button type="submit" name="delete-quote" class="icon-button danger">delete</button>
        </div>
    </form>
    <% }} %>
  </div>
</main>
<%- include('../modules/footer', {}); %>
